<div class="filter-container">
    <p>Filter by</p>
    <div class="search-filter">
        <select name="style-search" id="style-search" data-style-value="<%= selectValue %>">
            <option value="" selected>Style</option>
            <option value="salsa">Salsa</option>
            <option value="bachata">Bachata</option>
            <option value="kizomba">Kizomba</option>
            <option value="zouk">Zouk</option>
            <option value="other">Other</option>
        </select>
        <div class="country-filter">
            <label for="country">Country:</label>
            <input type="text" id="country-search" name="country-search" value="<%= countryValue %>">
        </div>
        <button type="submit" class="submit-search">Filter</button>
    </div>
</div>