<footer>
    <a href="<%= profileLink.href %>" target="_blank" rel="noopener noreferrer" aria-label="<%= profileLink.aria%>">
        <i class="<%= profileLink.faClass%>"></i> <%= profileLink.text %>
    </a>
</footer>