<footer>
    <a href="<%= gitHubLink.href %>" target="_blank" rel="noopener noreferrer" aria-label="<%= gitHubLink.aria%>">
        <i class="<%= gitHubLink.faClass%>"></i> <%= gitHubLink.text %>
    </a>
</footer>