<form action="/community/<%= user.username %>/settings" id="account-settings-form" method="POST">
    
    <div class="form-fields-container">
        <h3 class="form-section-header">General</h2>
        
        <div class="input-group">
            <label for="user-username">Username</label>
            <input type="text" name="user-username" id="user-username" value="<%= user.username%>">
        </div>
        
        <div class="input-group">
            <label for="user-email">Email</label>
            <input type="text" name="user-email" id="user-email" value="<%= user.email%>">
        </div>
        
        <!-- HoneyPot -->
        <input type="email" id="user-email-confirm" name="user-email-confirm" autocomplete="off" style="visibility: hidden; position: absolute;">
        
        <div class="form-separator"></div>
        <h3 class="form-section-header">Password</h2>
        
        <div class="input-group">
            <label for="user-password">Current password:</label>
            <input type="password" id="user-password" name="user-password">
        </div>
        
        <div class="input-group">
            <label for="user-password-new">New Password:</label>
            <input type="password" id="user-password-new" name="user-password-new">
        </div>
        
        <div class="input-group">
            <label for="user-password-confirm">Confirm new password:</label>
            <input type="password" id="user-password-confirm" name="user-password-confirm">
        </div>
        
        <div class="form-separator"></div>
        <h3 class="form-section-header">Privacy and Visibility</h2>
        
        <div class="form-checkbox-container">
            <label for="user-network-visibility">
                <input class="user-privacy-checkbox" type="checkbox" id="user-network-visibility" name="user-network-visibility" value="private" <% if(user.preferences.visibility.network === "private" ) { %> checked <% } %>>
                <div class="custom-checkbox"></div>
                Private dance network
            </label>
            
            <label for="user-events-visibility">
                <input class="user-privacy-checkbox" type="checkbox" id="user-events-visibility" name="user-events-visibility" value="private" <% if(user.preferences.visibility.events === "private" ) { %> checked <% } %>>
                <div class="custom-checkbox"></div>
                Private events
            </label>
        </div>
        
        <button type="submit" id="save-profile" class="form-button">Save</button>
    </div>

</form>

<div class="delete-account-container">
    <h3 class="user-form-section-header">Danger zone</h2>
    <button type="button" id="delete-account-button" class="form-button">Delete Account</button>
    <form id="delete-account" action="/community/<%= user.username %>/delete" method="post">
        <div class="form-fields-container">
            <p class="delete-account-warning">Are you sure you want to delete your account, this action cannot be undone.</p>
            <div class="input-group">
                <label for="user-password">Password:</label>
                <div class="delete-account-password-container">
                    <input type="password" id="user-password-delete" name="user-password-delete" requiered>
                    <button type="submit" class="form-button">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>