<form action="/community/profile/settings"></form>
    
    <h3 class="form-section-header">General</h2>
    
    <label for="user-username">Username</label>
    <input type="text" name="user-username" id="user-username" value="<%= user.username%>">
    <label for="user-email">Username</label>
    <input type="text" name="user-email" id="user-email" value="<%= user.email%>">
    
    <h3 class="form-section-header">Privacy and Visibility</h2>

    <label for="user-network-visibility">Dance network</label>
    <input type="range" name="user-network-visibility" id="user-network-visibility" min="0" max="1" <% if(user.preferences.visibility.network === "public" ) { %> value=1 <% }else{ %> value=0 <% } %>/>

    <label for="user-events-visibility">My events</label>
    <input type="range" name="user-events-visibility" id="user-events-visibility" min="0" max="1" <% if(user.preferences.visibility.events === "public" ) { %> value=1 <% }else{ %> value=0 <% } %>/>

    <div class="form-separator"></div>
    <h3 class="user-form-section-header">Danger zone</h2>

    <form id="delete-account" action="/community/profile/delete" method="post">
        <button type="submit">Delete Account</button>
    </form>
    

</form>