<form action="/events/country" method="POST" onsubmit="return handleSearchSubmit(event);" class="searchbar">
    <button type="submit" class="search" aria-label="Search"><i class="fa-solid fa-magnifying-glass"></i></button>
    <input type="text" name="country" placeholder="Search by country">
    <button type="reset" class="clear-search"><i class="fa-solid fa-circle-xmark"></i></button>
</form>
<form class="dance-style-filter">
    <select name="dance-style" id="dance-style">
        <option value="" disabled selected>Style</option>
        <option value="salsa">Salsa</option>
        <option value="bachata">Bachata</option>
        <option value="kizomba">Kizomba</option>
        <option value="zouk">Zouk</option>
        <option value="other">Other</option>
    </select>
</form>
<form action="/search" class="event-date-filter">
    <label for="date">Date:</label>
    <input type="month" id="date" name="date">
</form>