<div class="search" aria-label="Search"><i class="fa-solid fa-magnifying-glass"></i></div>
<input type="text" name="country-search" id="country-search" placeholder="Search by country" value="<%= value %>">
<button type="reset" class="clear-search"><i class="fa-solid fa-circle-xmark"></i></button>
