<form action=<%= url + "/search" %> method="POST" onsubmit="return handleSearchSubmit(event);" class="searchbar">
    <button type="submit" class="search" aria-label="Search"><i class="fa-solid fa-magnifying-glass"></i></button>
    <input type="text" name="search" placeholder="Search...">
    <button type="reset" class="clear-search"><i class="fa-solid fa-circle-xmark"></i></button>
</form>