<% extend('layout') %>

<div class="forgot-password-form-container">
    <h2>Forgot password</h1>
    <p>Enter your email address and we'll send you instructions to securely reset your password</p>
    
    <form action="/community/forgot-password" method="POST" class="forgot-password-form">
        
        <label for="user-email">Email:</label>
        <input type="email" id="user-email" name="user-email" required>
        
        <!-- HoneyPot -->
        <input type="email" id="user-email-confirm" name="user-email-confirm" autocomplete="off" style="visibility: hidden; position: absolute;">

        <button type="submit" class="submit-user">Reset Password</button>

    </form>
    <p>Back to <a href="/community/login">Log in</a></p>
    <p>By continuing, you agree to <span>The Dance Thread</span> <a href="/community/terms-of-service" rel="noopener noreferrer" target="_blank">terms of service</a> and <a href="/community/privacy-policy" rel="noopener noreferrer" target="_blank">privacy policy</a>.</p>
</div>