<% extend('layout') %>

<div class="reset-password-form-container">
    <h2>You are almost there</h1>
    <p><%= message %></p>
    <% if(locals.tokenId) { %>
        <form action="/community/reset-password" method="POST" class="reset-password-form">
        
            <input type="hidden" name="tokenId" value="<%= tokenId %>" />
            
            <!-- HoneyPot -->
            <input type="email" id="user-email" name="user-email" autocomplete="off" style="visibility: hidden; position: absolute;">

            <label for="user-password">New Password:</label>
            <input type="password" id="user-password" name="user-password" required>

            <label for="user-password-confirm">Confirm Password:</label>
            <input type="password" id="user-password-confirm" name="user-password-confirm" required>

            <button type="submit" class="submit-user">Log in</button>

        </form>
    <% } %>
    <p>Back to <a href="/community/login">Log in</a></p>
    <p>By continuing, you agree to <span>The Dance Thread</span> <a href="/community/terms-of-service" rel="noopener noreferrer" target="_blank">terms of service</a> and <a href="/community/privacy-policy" rel="noopener noreferrer" target="_blank">privacy policy</a>.</p>
</div>

<!-- http://localhost:3000/community/reset-password/0e9a967f-519d-4c2b-8e5f-e1314bab395f -->