<% extend('layout') %>

<div class="verification-container">
    <p><%= message %></p>
    <p>Back to <a href="/community/login">Log in</a></p>
    <p>By continuing, you agree to <span>The Dance Thread</span> <a href="/community/terms-of-service" rel="noopener noreferrer" target="_blank">terms of service</a> and <a href="/community/privacy-policy" rel="noopener noreferrer" target="_blank">privacy policy</a>.</p>
</div>

<!-- http://localhost:3000/community/verification/4cbc80ab-1eed-40d9-bf24-f68d782e9fd4 -->