body{
    font-family: "Inter", sans-serif;
    background-color: #141414;
    color: #fff5ff;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding: 0;
    margin: 0;
    position: relative;
}

header{
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: #14141490;
    top: 0;
}

nav{
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: inherit;
}

.main-logo{
    height: 48px;
    img{
        height: 100%;
    }
}

.content{
    flex: 1;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

/* Event card */
.event-card{
    max-width: 400px;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
    background-color: #202020;
    border-radius: 16px;
    padding: 16px 24px;
    box-sizing: border-box;
}

.event-card .event-date{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    :first-child{
        color: #b4d4ee;
        font-weight: bold;
    }
    p{
        margin: 0;
    }
}

.event-thumb{
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    img{
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        margin: auto;
        border-radius: 4px;
    }
}

.event-card .event-details{
    text-align: left;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8px;
    p{
        margin: 0;
    }
}

.event-card .event-name{
    grid-column: 1/3;
    font-size: larger;
    font-weight: bold;
}

.event-card .event-venue, .event-card .event-sns{
    font-size: medium;
    display: flex;
    gap: 8px;
}

.event-card .event-sns{
    :first-child{
        margin-left: auto;
    }
}

/* Searchbar */
.searchbar{
    max-width: 400px;
    padding: 8px 16px;
    height: 40px;
    background-color: #202020;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    flex: 1;
    align-items: center;
}

.search, .clear-search, .searchbar input{
    border: none;
    background-color: #20202000;
    color:#fff5ff;
}

.searchbar input{
    flex: 1;
    height: 24px;
    padding: 4px 8px;
    border: solid 1px #20202000;
    border-radius: 12px;
    box-sizing: border-box;
}

.searchbar:focus-within{
    border: solid 1px #b4d4ee;
}

.searchbar input:focus{
    outline: none;
}

.clear-search{
    display: none;
}

.clear-search.show{
    display: inline;
}

.search-container{
    display: flex;
    gap: 16px;
    align-items: center;
    /* justify-content: space-between; */
}

/* Create event */

.create-button{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffa6db;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 5px 2px 5px #000000;
    i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.create-button:hover, .create-button:focus{
    background-color: #fff5ff;
    color:#ffa6db;
    outline: none;
}

.event-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        color:#ffa6db;
    }
}

.create-event-form{
    max-width: 600px;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
}

.event-form-section-header{
    grid-column: 1 / 3;
}

.form-separator{
    height: 1px;
    width: 100%;
    grid-column: 1 / 3;
    background-color: #202020;
    margin-top: 16px;
}

.create-event-form input{
    background-color: #202020;
    border: solid 1px #20202000;
    padding: 8px 16px;
    border-radius: 16px;
    height: 16px;
    color:#fff5ff;
}

.create-event-form input:focus{
    border: solid 1px #b4d4ee;
    outline: none;
}

.create-event-form textarea{
    background-color: #202020;
    border: solid 1px #20202000;
    padding: 8px 16px;
    border-radius: 16px;
    color:#fff5ff;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    height: 5em;
}

.create-event-form textarea:focus{
    border: solid 1px #b4d4ee;
    outline: none;
}

.event-sns-container{
    grid-column: 1 / 3;
}

input[type="date"]{
    color-scheme: dark;
}

.event-sns-group{
    background-color: #202020;
    padding: 8px 16px;
    border-radius: 24px;
    color:#fff5ff;
    display: flex;
    input{
        flex: 1;
    }
    input:focus{
        border: solid 1px #20202000;
    }
    select, button{
        background-color: #202020;
        border: solid 1px #20202000;
        padding: 8px 16px;
        border-radius: 16px;
        color:#fff5ff;
    }
    select:focus{
        outline: none;
    }
}

.event-sns-group:focus-within{
    border: solid 1px #b4d4ee;
}

#event-add-sns, .submit-event{
    grid-column: 2;
    margin-left: auto;
    background-color: #202020;
    border: solid 1px #505050;
    padding: 8px 16px;
    border-radius: 16px;
    color:#fff5ff;
    box-shadow: 2px 2px 2px#00000090;
}

#event-add-sns:hover, .submit-event:hover{
    background-color: #b4d4ee;
    color:#141414;
}

input[type="file"]{
    height: auto;
}

input[type="file"]::file-selector-button{
    background-color: #202020;
    border: solid 1px #20202000;
    border-radius: 16px;
    color:#fff5ff;
}