body{
    font-family: "Inter", sans-serif;
    background-color: #141414;
    color: #fff5ff;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding: 0;
    margin: 0;
    position: relative;
}

header{
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: #14141490;
    top: 0;
    z-index: 1;
}

nav{
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: inherit;
}

.main-logo{
    height: 48px;
    img{
        height: 100%;
    }
}

.content{
    flex: 1;
    display: flex;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}


/* Events page */
.event-dashboard{
    /* display: flex; */
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 48px;
    padding: 24px 48px 24px 16px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    align-items: flex-start;
}

.event-schedule{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 48px;
    border-right: solid 1px #b4d4ee;
}

.event-cards{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 24px;
    border-top: solid 1px #202020;
}

.event-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-container .event-name{
    color:#ffa6db;
    width: 100%;
}

.event-headline{
    color:#b4d4ee;
    width: 100%;
}

.event-description, .event-cta, .event-details{
    width: 100%;
}

.event-details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    p{
        display: flex;
        gap: 8px;
    }
}

.event-image{
    max-width: 90%;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    img{
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        margin: auto;
        border-radius: 24px;
    }
    margin-top: 48px;
    margin-bottom: 24px;
}

/* Event card */
.event-card{
    max-width: 400px;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
    background-color: #202020;
    border-radius: 16px;
    padding: 16px 24px;
    box-sizing: border-box;
}

.event-card .event-date{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    :first-child{
        color: #b4d4ee;
        font-weight: bold;
    }
    p{
        margin: 0;
    }
}

.event-thumb{
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    img{
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        margin: auto;
        border-radius: 4px;
    }
}

.event-card .event-details{
    flex: 1;
    text-align: left;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    p{
        margin: 0;
    }
    a{
        display: flex;
        gap: 8px;
    }
}

.event-card .event-name{
    grid-column: 1/3;
    font-size: larger;
    font-weight: bold;
}

.event-card .event-venue, .event-card .event-sns{
    font-size: medium;
    display: flex;
    gap: 8px;
}

.event-card .event-sns{
    :first-child{
        margin-left: auto;
    }
}
/* Schedule header */
.search-container{
    display: grid;
    grid-template-columns: 1fr max-content;
    /* align-items: center; */
    gap: 8px;
}

/* Searchbar */
.searchbar{
    max-width: 400px;
    padding: 8px 16px;
    height: 40px;
    background-color: #202020;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    align-items: center;
    flex: 1;
    align-self: stretch;
    margin-top: 4px;
}

.search, .clear-search, .searchbar input{
    border: none;
    background-color: #20202000;
    color:#fff5ff;
}

.searchbar input{
    flex: 1;
    height: 24px;
    padding: 4px 8px;
    border: solid 1px #20202000;
    border-radius: 12px;
    box-sizing: border-box;
}

.searchbar:focus-within{
    border: solid 1px #b4d4ee;
}

.searchbar input:focus{
    outline: none;
}

.clear-search{
    display: none;
}

.clear-search.show{
    display: inline;
}

.filter-container{
    padding-top: 16px;
    p{
        font-size: smaller;
    }
    grid-column: 1 / 3;
}

.search-filter{
    padding-top: 16px;
    border-top: solid 1px #202020;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit(),1fr); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    input{
        background-color: #202020;
        border: solid 1px #20202000;
        padding: 8px 16px;
        border-radius: 16px;
        height: 16px;
        color:#fff5ff;
    }
    
    input:focus, select:focus, button:focus{
        border: solid 1px #b4d4ee;
        outline: none;
    }

    input[type="month"]{
        color-scheme: dark;
    }

    select{
        background-color: #202020;
        border: solid 1px #20202000;
        padding: 8px 16px;
        border-radius: 16px;
        color:#fff5ff;
    }
}

.date-filter{
    display: flex;
    align-items: center;
    gap: 8px;
}

.submit-search{
    /* grid-column: 2; */
    row-gap: 16px;
    margin-left: auto;
    background-color: #202020;
    border: solid 1px #505050;
    padding: 8px 16px;
    border-radius: 16px;
    color:#fff5ff;
    box-shadow: 2px 2px 2px#00000090;
}

.submit-search:hover{
    background-color: #b4d4ee;
    color:#141414;
}

/* Event not found */
.search-not-found{
    max-width: 400px;
    background-color: #202020;
    border-radius: 16px;
    padding: 16px 24px;
    box-sizing: border-box;
}
.search-not-found span{
    font-weight: bold;
    color: #b4d4ee;
}
.no-match-title{
    color:#ffa6db;
}

.no-match-message{
    font-size: larger;
    span{
        font-weight: bold;
        color: #b4d4ee;
    }
}
.no-match-cta{
    font-size: larger;
}
.create-link, .back-to-events{
    font-weight: bold;
    color:#ffa6db;
}


/* Create event */

.create-button{
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffa6db;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 5px 2px 5px #000000;
    i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.create-button:hover, .create-button:focus{
    background-color: #fff5ff;
    color:#ffa6db;
    outline: none;
}

.event-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        color:#ffa6db;
    }
    margin: 0 auto;
}

.create-event-form{
    max-width: 600px;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
}

.event-form-section-header{
    grid-column: 1 / 3;
}

.form-separator{
    height: 1px;
    width: 100%;
    grid-column: 1 / 3;
    background-color: #202020;
    margin-top: 16px;
}

.create-event-form input{
    background-color: #202020;
    border: solid 1px #20202000;
    padding: 8px 16px;
    border-radius: 16px;
    height: 16px;
    color:#fff5ff;
}

.create-event-form input:focus{
    border: solid 1px #b4d4ee;
    outline: none;
}

.create-event-form textarea{
    background-color: #202020;
    border: solid 1px #20202000;
    padding: 8px 16px;
    border-radius: 16px;
    color:#fff5ff;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    height: 5em;
}

.create-event-form textarea:focus{
    border: solid 1px #b4d4ee;
    outline: none;
}

.event-sns-container, .user-sns-container{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: height 0.3s ease-in-out;
}

input[type="date"]{
    color-scheme: dark;
}

.event-sns-group{
    background-color: #202020;
    padding: 8px 16px;
    border-radius: 24px;
    color:#fff5ff;
    display: flex;
    input{
        flex: 1;
    }
    input:focus{
        border: solid 1px #20202000;
    }
    select, button{
        background-color: #202020;
        border: solid 1px #20202000;
        padding: 8px 16px;
        border-radius: 16px;
        color:#fff5ff;
    }
    select:focus{
        outline: none;
    }
}

.event-sns-group:focus-within{
    border: solid 1px #b4d4ee;
}

.remove-sns.disabled{
    color: #505050;
}

.remove-sns:not(.disabled):hover{
    cursor: pointer;
    color: #b4d4ee;
}

#event-add-sns, .submit-event{
    grid-column: 2;
    margin-left: auto;
    background-color: #202020;
    border: solid 1px #505050;
    padding: 8px 16px;
    border-radius: 16px;
    color:#fff5ff;
    box-shadow: 2px 2px 2px#00000090;
}

#event-add-sns.disabled{
    border: solid 1px #202020;
    color: #505050;
}

#event-add-sns:not(.disabled):hover, .submit-event:hover{
    background-color: #b4d4ee;
    color:#141414;
    cursor: pointer;
}

input[type="file"]{
    height: auto;
}

input[type="file"]::file-selector-button{
    background-color: #202020;
    border: solid 1px #20202000;
    border-radius: 16px;
    color:#fff5ff;
}

.form-checkbox-container{
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8px;
    label{
        position: relative;
        margin-right: auto;
    }
}

.event-style-checkbox, .user-style-checkbox, .user-privacy-checkbox{
    opacity: 0.5;
    border-radius: 8px;
    margin: 0;
    margin-right: 8px;
    width: 24px;
    height: 16px;
    padding: 0;
    opacity: 0;
}

.custom-checkbox{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 16px;
    border-radius: 8px;
    padding: 2px;
    background-color: #202020;
    border: solid 1px #505050;
    box-shadow: inset 0 0 2px 2px #141414;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
}

label:hover input ~ .custom-checkbox{
    background-color: #505050;
}

label input:checked ~ .custom-checkbox{
    background-color: #b4d4ee;
}

/* Profile page */

.profile-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    gap: 24px;
    padding: 24px;
}
.user-banner, .user-intro, .user-stats, .user-actions{
    display: flex;
}

.user-banner, .user-intro{
    gap: 24px;
    align-items: center;
}

.user-intro .name, .user-stats{
    margin-top: 0;
}

.user-stats, .user-actions{
    list-style-type: none;
    gap: 12px;
    padding: 0;
}

.user-action{
    background-color: #202020;
    border: solid 1px #505050;
    padding: 8px 16px;
    border-radius: 16px;
    color: #fff5ff;
    box-shadow: 2px 2px 2px #00000090;
}

.user-action button{
    all: unset;
}

.user-action:hover{
    background-color: #b4d4ee;
    color: #141414;
}

.card{
    width: 400px;
    height: 120px;
    border-radius: 16px;
    background-color: #202020;
}

.profile-picture{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    flex-shrink: 0;
}

.profile-picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-details nav ul{
    margin: 0;
    display: flex;
    gap: 16px;
    padding: 0;
    list-style-type: none;
    padding: 0 32px;
}

.details-tab{
    padding: 8px 32px;
}

.details-tab.active{
    background-color: #ffa6db;
    border-radius: 8px 8px 0 0;
    position: relative;
}

.details-tab.active a::before, .details-tab.active a::after{
    --border-radius: 16px;
    content: "";
    position: absolute;
    background-color: #141414;
    bottom: 0;
    width: var(--border-radius);
    height: var(--border-radius);
    border-radius: 50%;
}

.details-tab.active a::before{
    left: calc(var(--border-radius) * -1);

}
.details-tab.active a::after{
    right: calc(var(--border-radius) * -1);
}

.tab-filler{
    opacity: 0;
}

.details-tab.active .tab-filler{
    opacity: 1;
    --border-radius: 16px;
    position: absolute;
    background-color: #ffa6db;
    bottom: 0;
    width: calc(var(--border-radius) * 0.5);
    height: calc(var(--border-radius) * 0.5);
}

.tab-filler:first-child{
    left: calc(var(--border-radius) * -0.5);
}

.tab-filler{
    right: calc(var(--border-radius) * -0.5);
}


.details-content{
    border: solid 1px #ffa6db;
    border-radius: 16px;
    padding: 32px;
}

.details-events, .details-dancers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;
    align-items: center;
    justify-items: center;
}

pre{
    font-family: "Inter", sans-serif;
    white-space: pre-wrap;

}

/* User card */
.user-card{
    max-width: 400px;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
    background-color: #202020;
    border-radius: 16px;
    padding: 16px 24px;
    box-sizing: border-box;
}

.user-thumb{
    width: 60px;
    height: 60px;
    margin: 0;
}

.user-card .user-details{
    flex: 1;
    text-align: left;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    p{
        margin: 0;
    }
    a{
        display: flex;
        gap: 8px;
    }
}

.user-card .user-name{
    grid-column: 1/3;
    font-size: larger;
    font-weight: bold;
}

.user-card .user-location, .user-card .user-sns{
    font-size: medium;
    display: flex;
    gap: 8px;
}

.user-card .user-sns{
    :first-child{
        margin-left: auto;
    }
}

#delete-account{
    display: none;
}

#delete-account.show{
    display: block;
}

.form-fields-container{
    max-width: 600px;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 16px;
}

.form-section-header{
    grid-column: 1 / 3;
}

.sns-container{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: height 0.3s ease-in-out;   
}
.sns-group{
    background-color: #202020;
    padding: 8px 16px;
    border-radius: 24px;
    color:#fff5ff;
    display: flex;
    input{
        flex: 1;
    }
    input:focus{
        border: solid 1px #20202000;
    }
    select, button{
        background-color: #202020;
        border: solid 1px #20202000;
        padding: 8px 16px;
        border-radius: 16px;
        color:#fff5ff;
    }
    select:focus{
        outline: none;
    }
}

.form-fields-container input{
    background-color: #202020;
    border: solid 1px #20202000;
    padding: 8px 16px;
    border-radius: 16px;
    height: 16px;
    color:#fff5ff;
}

.form-fields-container input:focus{
    border: solid 1px #b4d4ee;
    outline: none;
}

.form-fields-container label{
    align-self: start;
    margin-top: 8px;
}

.other-style-container, .delete-account-password-container{
    display: flex;
    gap: 16px;
}

.form-button{
    grid-column: 2;
    margin-left: auto;
    background-color: #202020;
    border: solid 1px #505050;
    padding: 8px 16px;
    border-radius: 16px;
    color:#fff5ff;
    box-shadow: 2px 2px 2px#00000090;
}

.form-button:hover{
    background-color: #b4d4ee;
    color:#141414;
}

input#other, #user-password-delete{
    flex: 1;
}

textarea{
    background-color: #202020;
    border: solid 1px #20202000;
    padding: 8px 16px;
    border-radius: 16px;
    color:#fff5ff;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    height: 5em;
}

textarea:focus{
    border: solid 1px #b4d4ee;
    outline: none;
}

#save-profile, #delete-account-button{
    grid-column: 1 / 3;
    width: 100%;
    margin-top: 32px
}

#delete-account-button{
    margin-top: 16px;
}

.delete-account-container{
    margin-top: 48px;
}

.delete-account-container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.delete-account-warning{
    grid-column: 1 / 3;
}